<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Message</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="title">Message Details</div>
    <p class="format"><strong>Author</strong> : <%= message.username %></p>
    <p class="format"><strong>Message</strong> : <%= message.message %></p>
    <p class="format"><strong>Date</strong> : <%= message.date %></p>
    <div class="format"><a href="/" class="back-link">Back to all messages</a></div>
</body>
</html>