<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form action="/new" method="POST">
        <label for="username">Username : </label>
        <input type="text" name="username" required>

        <label for="message">Message : </label>
        <input type="text" name="messageText" required>

        <button type="submit">Post Message</button>
    </form>
</body>
</html>